<div [formGroup]="formGroup">
  <h1>TinyUrl</h1>
  <mat-form-field>
    <mat-label>Paste in a link</mat-label>
    <input matInput type="url" formControlName="url" required autofocus>
    <mat-error *ngIf="this.formGroup.get('url').invalid">Invalid input</mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="generateUrl()">Submit</button>
</div>
<div *ngIf="generatedUrlString">
  This is your link, you can click it! <a href="#" (click)='goToLink()' >{{ generatedUrlString }}</a>
</div>